* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 80%;
    margin: 0 auto;
}

body > footer {
    background-color: #246;
    color: #c7c7c7;
    padding: 1em;
    text-align: center;
}

body > footer p {
    margin: .7em 0;
}

body > footer a {
    color: #fff;
}

.main-nav {
    /* border: 4px solid blue; */
    background-color: hsl(197, 94%, 19%);
    font-variant: small-caps;
}

.main-nav__list {
    margin: 0;
    /* border: 4px solid orange; */
    list-style-type: none;
    display: flex;
    /* padding: 5px; */
    /* gap: 5px; */
    justify-content: center;
}

.main-nav__item {
    /* border: 4px solid green; */
    /* background-color: hsl(197, 94%, 19%); */
    /* background-color: orange; */
    padding: 10px;
}

.main-nav__item:hover {
    background-color: hsl(197, 94%, 10%);
}

.main-nav__link {
    color: wheat;
    text-decoration: none;
    /* border: 4px solid orchid; */
}

.main-heading {
    background-color: hsl(210, 50%, 90%);
    padding: 10px;
    color: hsl(210, 50%, 5%);
    text-align: center;
    border: 10px solid hsl(210, 50%, 15%);
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.form-contacto {
    /* border: 2px solid red; */
    background-color: hsl(210, 20%, 90%);
    padding: 1em;
}

.form-contacto .row {
    padding: 7px;
}

.form-contacto label {
    /* background-color: blue; */
    width: 90px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    color: #333;
}

.form-contacto p {
    font-style: italic;
}